.body__top {
    background: transparent linear-gradient(6deg, #fff, #c4ffdd 100%, #c3ffddb3 0) 0 0 no-repeat padding-box;
    min-height: 273px;
    padding-top: 24px;
}

.body__top-boxsearch-list {
    display: flex;
    list-style: none;
    padding-bottom: 33px;
    padding-left: 0;
    margin-bottom: 0;
}

.body__top-boxsearch-list-item {
    margin-right: 25px;
}

.body__top-boxsearch-list-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black-color);
}

.body__top-boxsearch-list-item-link:hover {
    text-decoration: underline;
}

.body__top-boxsearch-title {
    margin-bottom: 37px;
}

.body__top-boxsearch-title h1 {
    color: var(--primary-color);
    font-size: 2.4rem;
    padding-bottom: 12px;
    text-align: left;
    font-weight: 500;
}

.body__top-boxsearch-title p {
    font-size: 1.5rem;
    color: var(--black-color);
}


/* search */

.header__search {
    width: 465px;
}

.header__search-input {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    transition: .5s;
    outline: none;
    background: #fff;
    width: 362px;
    height: 50px;
    border: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    background-color: #efefef;
}

.header__search-btn {
    position: relative;
    left: -1px;
    border-radius: 0 25px 25px 0;
    height: 50px;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(19 238 72 / 95%);
    color: var(--white-color);
}

.header__search-btn:hover {
    opacity: 0.8;
}

.header__search-icon {
    font-size: 1.6rem;
}

#header__search-sub {
    background-color: #fafafa;
    max-height: 300px;
    width: calc(100% - 2px);
    overflow: auto;
    text-align: center;
    display: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header__search-sub-title:hover {
    cursor: pointer;
    background-color: rgb(228, 253, 230);
}

.header__search-sub-title {
    font-size: 1.6rem;
    height: 40px;
}

.header__search-sub-title-link {
    text-decoration: none;
    color: var(--black-color);
}

.header__search-sub-title-link h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.container {
    position: relative;
}


/* content */

.body__content-title {
    padding: 24px 0;
    text-align: center;
}

.body__content-title h2 {
    color: var(--black-color);
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
}

.body__content-item {
    background: var(--white-color);
    border-radius: 5px;
    box-shadow: -1px 1px 4px #0000000d;
    height: 330px;
    margin-bottom: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body__content-item-banner {
    height: 150px;
    margin-bottom: 16px;
    overflow: hidden;
}

.body__content-item-banner-link-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.body__content-item-infor {
    padding: 0 16px;
}

.body__content-item-infor h3 {
    margin: 0;
}

.body__content-item-infor a {
    text-decoration: none;
    text-align: left;
    font-size: 1.4rem;
    color: var(--black-color);
}

.body__content-item-infor a:hover {
    text-decoration: underline;
}

.body__content-item-infor p {
    color: #555;
    font-size: 1.4rem;
}